{% extends "base.html" %}

{% block title %}contact{% endblock title %}

{% block body %}
<style>
    body {
        background: linear-gradient(to bottom, #1e1e1e, #2c3e50);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #101010;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;
        overflow-y:hidden;
    }

    .form {
        width: 35%;
        max-height: 190vh; /* Set a maximum height */
        /* overflow-y: auto; Enable vertical scroll if needed */
        padding: 25px; /* Increase depth of the box */
        margin: 36px;
        border-radius: 10px;
        background-color: #f5f1f1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        animation: slideIn 0.5s ease forwards;
        text-align: left;
        position: relative;
        top:2vh;
        border-width: 4px;
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateY(-50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 8px;
        color: #3b3a3a;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    label {
        font-weight: bold;
        color: #555;
        display: block;
        margin-bottom: 3px;
        font-size: 14px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 4px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
        transition: border-color 0.3s ease;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #45a049;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 8px 14px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: background-color 0.3s ease;
        position: absolute;
        /* transform: translateY(-50px); */
        left: 20%;
        transform: translateX(-50px);
        /* left: 50px; */
        
        bottom: 40px; /* Lower the submit button further */
        
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    /* .custom-file-upload {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #4CAF50;
        color: rgb(252, 250, 250);
        border: none;
        border-radius: 3px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: background-color 0.3s ease;
    } */
   
.custom-file-upload-resume {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: rgb(252, 250, 250);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    margin-bottom:100px; /* Add margin-bottom to increase the gap */
    position: absolute;
    left: 25px; /* Adjust the right value to shift the button */
    bottom:10px;
}
.custom-file-upload-photos {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: rgb(252, 250, 250);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    margin-bottom: 0px; /* Add margin-bottom to increase the gap */
    position: absolute;
    left: 190px; /* Adjust the right value to shift the button */
    bottom:30px;
    /* bottom: 20px; Adjust the bottom value if needed */
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900; /* Adjust z-index as needed */
}

.template-container {
    width: 35%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f5f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease forwards;
    text-align: center;
    position: absolute;
    top: 30%;
    border-width: 4px;
    left:10%;
    bottom: 220px;
}



    .custom-file-upload:hover {
        background-color: #45a049;
    }

    /* Hide default file input */
    input[type="file"] {
        display: none;
    }
    input[type="submit"] {
        position: relative;
        right: -30px;
        top: -1px; /* Adjust this value as needed */
        background: linear-gradient(to right, #4CAF50, #008000);
    }
    input[type="submit"]:hover {
        background: linear-gradient(to right, #008000, #4CAF50); /* Reverse gradient on hover */
    }

    
    
</style>
{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
    <div class="container-fluid">
      <a class="navbar-brand" href="/">KingStar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex justify-content-end" role="search"> <!-- Updated class: d-flex justify-content-end -->
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div> {% endcomment %}
    {% comment %} <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
        <!-- <strong>{{ message }}</strong> -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div> {% endcomment %}
  </nav>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  
</script>
<div class="form">
    <h2>Provide Details</h2>
    <form method="post" action="/contact" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="subject">Skills</label>
        <input type="text" id="subject" name="subject">
        
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="2" required></textarea>
        
        <label for="projects">Projects:</label>
        <textarea id="projects" name="projects" rows="2"></textarea>
        
        <label for="experience">Work Experience:</label>
        <textarea id="experience" name="experience" rows="2"></textarea>
        
        <!-- <label for="education">Education:</label>
        <textarea id="education" name="education" rows="4"></textarea> -->
        
        <!-- <label for="resume" class="custom-file-upload">Resume</label>
        <input type="file" id="resume" name="resume" accept=".pdf" required> -->
        <label for="resume" class="custom-file-upload-resume" style="margin-bottom: 20px;">Resume</label>
<input type="file" id="resume" name="resume" accept=".pdf" required>
<span style="font-size: small; margin-left: 100px;position: relative; top: 7px;">*.pdf only</span>


        
        <label for="photos" class="custom-file-upload-photos">Photos</label>
        <input type="file" id="photos" name="photos" accept=".zip" required>
        <span style="font-size: small; margin-left: 100px;position: relative; top: 7px;">*.zip only</span>
        
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    
</div>
<div class="template-container">
  <h2>Selected Template</h2>
  <img id="lastVisitedImage" alt="Selected Template Image" style="max-width: 100%; max-height: 80%; border-radius: 10px; align-self: normal;">
  <!-- Code to display selected template -->
  <!-- Example: -->
  <!-- <div>
      <p>This is your selected template content.</p>
  </div> -->
</div>

<script>
    // Retrieve the last visited image source from local storage
    var lastVisitedImageSrc = localStorage.getItem('lastVisitedImage');
  
    // Display the image on the contact page
    if (lastVisitedImageSrc) {
      var imgElement = document.getElementById('lastVisitedImage');
      imgElement.src = lastVisitedImageSrc;
    }
  </script>
   
{% endblock body %}